@model gBanker.Web.Models.ResetPasswordModel

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_ForgotPasswordLayout.cshtml";

}
<script type="text/javascript">

    $(document).ready(function () {
        $("#resetLink").click(function () {
            GetPasswordRestLink();
        });
    });
    function GetPasswordRestLink() {
        debugger;
        var email = $("#Email").val();
        if (email != "") {
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                url: '@Url.Action("GetPasswordResetLink", "ForgotPassword", "http")',
                data: JSON.stringify({ EmailID: email }),
                dataType: 'json',
                async: true,
                success: function (data) {
                    debugger;
                    if (data != null) {
                        alert(data.message);
                    } else {
                        alert(data.message);
                    }
                }
            });
        }
        else {
            $.alert.open("Error", "Please insert registered Email address");
        }
    }

</script>

@using (Html.BeginForm())
{
    @*@Html.AntiForgeryToken()*@
    <fieldset>
        <div class="row">
            <div class="col-md-12">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @autocomplete = "off", @Disabled = "true" })
                </div>
            </div>
        </div>
        <div class="clearfix"></div><br />
        <div class="row">
            <div class="col-md-5 col-sm-5 col-xs-8 center">
                <input type="button" name="resetLink" id="resetLink" class="btn btn-primary" value="Get Reset Link" />
            </div>
        </div>
    </fieldset>
}