@model IEnumerable<gBanker.Web.ViewModels.GroupViewModel>

@{
    ViewBag.Title = "Member Group List";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}




<style type="text/css">
    th {
        height: 40px;
        vertical-align: top;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    span.jtable-column-header-text {
        margin-top: 0px !important;
    }
</style>


<script type="text/javascript">

    function deleteConfirm(status) {
        if (status == "true") {
            return confirm('Are you sure you want to delete this record');
        }
        else {
            alert("You cannot delete this record because it is already disabled.");
            return false;
        }
    }
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#grid').jtable({
          //  title: 'Group List',
            paging: true,
            pageSize: 10,
            sorting: true,
            defaultSorting: 'Name ASC',
            actions: {
                listAction: function (postData, jtParams) {
                    console.log("Loading from custom function...");
                    return $.Deferred(function ($dfd) {
                        $.ajax({
                            url: '/Group/GetGroupInformation?jtStartIndex=' + jtParams.jtStartIndex + '&jtPageSize=' + jtParams.jtPageSize + '&jtSorting=' + jtParams.jtSorting,
                            type: 'POST',
                            dataType: 'json',
                            data: postData,
                            success: function (data) {
                                $dfd.resolve(data);
                            },
                            error: function () {
                                $dfd.reject();
                            }
                        });
                    });
                },
              //  listAction: '/Group/GetGroupInformation'

            },
            fields: {
                GroupID: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false
                },
                GroupCode: {
                    title: 'Group Code',
                    width: '20%'

                },
                OfficeCode: {
                    title: 'Office Code',
                    width: '20%'
                },
                OfficeName: {
                    title: 'Office Name',
                    width: '20%'
                },
                FormationDate: {
                    title: 'Formation Date',
                    type: 'date',
                    displayFormat: 'd-M-yy',
                    width: '20%'
                },
                IsActive: {
                    title: 'IsActive',
                    width: '10%',
                    list: false
                },
                EditLink: {
                    title: "Edit",
                    display: function (data) {
                        //return '<a href="/Purpose/Edit/' + data.record.PurposeID + '">Edit</a>';
                        return "<div class='text-center'><a href='/Group/Edit/" + data.record.GroupID + "'><i class='fa fa-pencil-square-o'></i></a></div>";

                    }
                },
                DeleteLink: {
                    title: "Delete",
                    display: function (data) {
                        return '<div class="text-center delete-link"><a href="/Group/Delete/' + data.record.GroupID + '"' + " onclick='return confirm(" + '"Are you sure you want to delete this item?");' + "'" + "'><i class='fa fa-trash-o'></i></a></div>";

                       // return '<a href="/Group/Delete/' + data.record.GroupID + '"' + " onclick='return confirm(" + '"Are you sure you want to delete this item?");' + "'" + '>Delete</a>';
                    }
                }
            }
        });
        $('#grid').jtable('load');


    });

</script>

@Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-info btn-sm pull-right" })
<h2 class="page-title">Member Group List</h2>

<div id="grid"></div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")
}


