@{
    ViewBag.Title = "Portal Savings Close Account";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}


<script type="text/javascript">

    $(document).ready(function () {


        $('#grid').jtable({
            //title: 'Portal Savings Close Account List',
            paging: true,
            pageSize: 20,
            sorting: true,
            //defaultSorting: 'MemberCode ASC',
            actions: {
                //deleteAction: '/Member/Delete',
                listAction: function (postData, jtParams) {
                    console.log("Loading from custom function...");
                    return $.Deferred(function ($dfd) {
                        console.log($dfd);
                        $.ajax({
                            url: '/PortalSavingsAccClose/PortalSavingsAccCloseInfo?jtStartIndex=' + jtParams.jtStartIndex + '&jtPageSize=' + jtParams.jtPageSize + '&jtSorting=' + jtParams.jtSorting,
                            type: 'POST',
                            dataType: 'json',
                            data: '',
                            success: function (data) {
                                console.log(data);
                                try {
                                    $dfd.resolve(data);
                                }
                                catch (e) {
                                    console.log(e);
                                }
                            },
                            error: function () {
                                $dfd.reject();
                            }
                        });
                    });
                }

            },
            fields: {
                MemberID: {
                    title: 'Member Code',
                    create: false,
                    edit: false,
                    list: true
                },
                OfficeID: {
                    title: 'Office Code',
                    create: false,
                    edit: false,
                    list: true
                },
                SavingAccountID: {
                    title: 'Savings Account',
                    create: false,
                    edit: false,
                    list: true
                },
                Status: {
                    title: 'Status',
                    create: false,
                    edit: false,
                },
                CreateUser: {
                    title: 'Create User',
                    create: false,
                    edit: false,
                },
                //UpdateUser: {
                //    title: 'UpdateUser',
                //    create: false,
                //    edit: false,
                //},
                EditLink: {
                    title: "Update User",
                    sort: false,
                    display: function (data) {
                        if (data.record.MemberStatus != '5')
                            return "<div class='text-center'><a href='/Member/Edit/" + data.record.MemberID + "'><i class='fa fa-pencil-square-o'></i></a></div>";
                        else
                            return null;
                    }
                }
                //,
                //UpdateDate: {
                //    title: 'UpdateDate',
                //    create: false,
                //    edit: false,
                //},
            }

        });
        //$('#grid').jtable('load');
        //reloadGrid();
        reloadGrid();
    });

    function reloadGrid() {
        $("#loading").show();
        $('#grid').jtable('load', { filterColumn: '', filterValue: '', typeFilterColumn: '', DateFromValue: '', DateToValue: '' });
        $("#loading").hide();
    }
</script>
<h2>Portal Savings Close Account List</h2>
<div class="row">
    <div class="col-md-12">
        <div id="grid"></div>
    </div>
</div>


@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")
}