@model IEnumerable<gBanker.Web.ViewModels.ApproveCellingViewModel>

@{
    ViewBag.Title = "Approve Celling Configs";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";
}

<style type="text/css">
    th {
        height: 40px;
        vertical-align: top;
        margin-top: 0px !important;
        padding-top: 0px !important;
    }

    span.jtable-column-header-text {
        margin-top: 0px !important;
    }
</style>


<script type="text/javascript">

    function deleteConfirm(status) {
        if (status == "true") {
            return confirm('Are you sure you want to delete this record');
        }
        else {
            alert("You cannot delete this record because it is already disabled.");
            return false;
        }
    }
</script>
<script type="text/javascript">

    $(document).ready(function () {
        $('#grid').jtable({
          //  title: 'Purpose List',
            paging: true,
            pageSize: 5,
            sorting: true,
            defaultSorting: 'Name ASC',
            actions: {

                listAction: function (postData, jtParams) {
                    console.log("Loading from custom function...");
                    return $.Deferred(function ($dfd) {
                        $.ajax({
                            url: '/ApproveCelling/GetApproveCelling?jtStartIndex=' + jtParams.jtStartIndex + '&jtPageSize=' + jtParams.jtPageSize + '&jtSorting=' + jtParams.jtSorting,
                            type: 'POST',
                            dataType: 'json',
                            data: postData,
                            success: function (data) {
                                $dfd.resolve(data);
                            },
                            error: function () {
                                $dfd.reject();
                            }
                        });
                    });
                },
              

            },
            fields: {
                ApproveCellingID: {
                    key: true,
                    list: false,
                    create: false,
                    edit: false
                },
                RoleID: {
                    list: false,
                    create: false,
                    edit: false

                },
                RoleName: {
                    title: 'Role Name',
                    width: '40%'
                },
                ProductName: {
                    title: 'Product Name',
                    width: '40%'
                },
                MinRange: {
                    title: 'Min. Range',
                    width: '40%'
                },
                MaxRange: {
                    title: 'Max. Range',
                    width: '40%'
                },
               
                EditLink: {
                    title: "Edit",
                    display: function (data) {
                        return "<div class='text-center'><a href='/ApproveCelling/Edit/" + data.record.ApproveCellingID + "'><i class='fa fa-pencil-square-o'></i></a></div>";

                        //return '<a href="/Purpose/Edit/' + data.record.PurposeID + '">Edit</a>';
                       // return "<a href='/Purpose/Edit/" + data.record.PurposeID + "'><img src='../../Scripts/jtable/themes/basic/edit.png' alt='Edit'/></a>";
                    }
                },
                DeleteLink: {
                    title: "Delete",
                    display: function (data) {
                        return '<div class="text-center delete-link"><a href="/ApproveCelling/Delete/' + data.record.ApproveCellingID + '"' + " onclick='return confirm(" + '"Are you sure you want to delete this item?");' + "'" + "'><i class='fa fa-trash-o'></i></a></div>";

                        //return '<a href="/Purpose/Delete/' + data.record.PurposeID + '"' + " onclick='return confirm(" + '"Are you sure you want to delete this item?");' + "'" + '>Delete</a>';
                    }
                }
            }
        });
        //$('#grid').jtable('load');
        reloadGrid();

    });
    function reloadGrid() {
        $('#grid').jtable('load', { filterColumn: $('#filterColumn').val(), filterValue: $('#filterValue').val() });
    }
</script>

@Html.ActionLink("Add New", "Create", null, new { @class = "btn btn-info btn-sm pull-right" })
<h2 class="page-title">Approve Celling Configs</h2>

@*<div>
        Filter By:&nbsp; <select id="filterColumn">
            <option value="">View All</option>
            <option value="PurposeCode">Purpose Code</option>
        </select>
        <input type="text" class="search" id="filterValue" placeholder="Type Search Text" />
        <input type="button" id="btnSearch" value="Search" onclick="reloadGrid();" />
    </div>*@


<div id="grid"></div>
@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jtable")
}


