<!-- Modal -->
<div id="GlobalPopupModal" class="modal fade" data-backdrop="static" role="dialog">
    <div class="modal-dialog modal-lg-90pct">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="text-center">
                <img src="~/Reports/DataSets/Images/ajax-loading.gif" />
            </div>
        </div>
    </div>
</div>