
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMaster.cshtml";    
}

<h2>Something went wrong!</h2>
<br />
<div style="width:100%; height:500px; color:red; font-size:x-large; text-align:left;">
    @ViewBag.UnauthorizedAccessError
</div>

